* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.signup {
  background-color: rgb(248, 248, 248);
  height: 100%;
  width: 75%;
}
.signup h1,
.signup form {
  margin: 35px 0 0 30px;
}
.signup h1 {
  color: #ffa500;
}
.login {
  background-color: #11100f;
  height: 100%;
  width: 25%;
}
.login h1 {
  color: white;
}
.signup form .input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 50px;
  width: 70%;
}
.login form {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.login h1 {
  padding-top: 50%;
}
.login form,
.login h1 {
  width: 70%;
  margin: auto;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
  padding-bottom: 10px;
}

.signup input {
  border-bottom: 1px solid gray;
  padding-left: 40px;
  margin-top: 70px;
}
.login input[type="text"],
.login input[type="password"] {
  border-bottom: 1px solid whitesmoke;
  color: white;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.login input::placeholder {
  color: white;
}
input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 10px;
}
.button {
  background-color: #ffa500;
  border-bottom: none;
  cursor: pointer;
  width: 200px;
  color: black;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
  transition: 0.4s all ease;
}
.button:hover {
  background-color: #e59500;
}

#submit {
  border-bottom: none;
  text-align: center;
  padding-left: 0;
  margin-top: 60px;
}
#login {
  margin: auto;
}
#error {
  position: fixed;
  background-color: rgb(221, 57, 57);
  width: 100%;
  padding: 10px 0;
  color: #e59500;
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
  display: none;
}
#sucess {
  background-color: green;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  color: #e59500;
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
  display: none;
}
